/*
    Document   : app/styles/_footer．scss
    Created on : 2014-12-03 03:25 PM
    Author     : anotherangrymouse
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

#footer {
  margin-top: 50px;
  padding-top: 50px;
}