/*
    Document   : app/styles/_sidebar．scss
    Created on : 2014-12-03 03:03 PM
    Author     : anotherangrymouse
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

.sidebar{
  position: fixed;
}

