$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "_variables.scss";
@import "_paper.scss";
@import "_sidebar.scss";


body, p, h1, h2, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}

.main {
  padding-top: 50px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
